<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Main Menu</title>
  </head>
  <body>
    <!-- <p>Local time: <%=Time.new%></p> -->
    <!-- <p>Main menu</p>
    <ul>
      <li><a href="/contacts"> View all contacts </a></li>
      <li><a href="/contacts/new"> Add a contact </a></li>
      <li><a href="#"> Modify existing contact </a></li>
      <li><a href="#"> Delete a contact </a></li>
      <li><a href="#"> Search for a contact </a></li>
    </ul> -->
  </body>
</html>
