<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:4567/styles.css" type="text/css">
    <title></title>
  </head>
  <body>
    <header>
      <div class="home-title">
        <h1>Lauren's CRM</h1>
      </div>
    </header>
      <nav>

          <div><a href="/">Home</a></div>
          <div><a href="/contacts/new"> Add a contact </a></div>
          <div><a href="/contacts"> View all contacts </a></div>

      </nav>

    <%= yield %>

    <footer>&copy; Lauren Rosentzveig 2016</footer>
  </body>
</html>
