<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Contact</title>
  </head>
  <body>
    <h1>Create new Contact</h1>

    <form action='/contacts' method='post'>
      First Name <input type='text' name='first_name'>
      Last Name <input type='text' name='last_name'>
      Email <input type='text' name='email'>
      Note <input type='text' name='note'>
      <input type='submit' value='New Contact'>
    </form>
  </body>
</html>
