/*#CEEAF7
#828A95
#75DDDD
#9368B7
#AA3E98*/


*, *::before, *::after {
    font-family: 'Francois One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    display: block;
    /*background-color: #CEEAF7*/
}

body {
  width: 100%;
  margin: 0px;
}

footer {
  background-color: black;
  color: white;
  font-size: .7em;
  text-align: center;
  position: absolute;
  line-height: 40px;
  width: 100%;
  height: 40px;
  bottom: 0;
}

nav {
  text-align: center;
  list-style: none;
}

nav > div {
  display: block;
  width: auto;
  background-color: #828A95;
  padding: 4px;
  border-bottom: 2px solid white;
}

div > a {
  color: white;
  text-decoration: none;
}

.home-title {
  background-color: rgb(52, 51, 51);
  color: white;
  text-align: center;
  padding: 1px;
  border-bottom: 2px solid white;
}

ul {

}

h1.page-title {
  margin: 5%;
  text-align: center;
  font-size: 2em;
  border-bottom: dotted 3px black;
}

h1.title {
  text-align: center;
}

div.contact-list a {
  display: inline-block;
  font-weight: normal;
}

div.contact-list {
  font-weight: 900;
  background-color: #75DDDD;
  margin-bottom: 7px;
  width: auto;
  padding: 15px;
}
div.contact-list > li > span {

  display: inline-block;
  font-size: .8em
}

div.contact-count > li {
  background-color: #9368B7;
  margin-bottom: 7px;
  padding: 15px;
}

div.contact-count span {
  display: inline-block;
  border-bottom: 2px solid #75DDDD;
}

ul {
  margin-right: 50px;
}

div a.name-link {
  font-weight: 900;
  text-decoration: none;
  color: black;
}

.main-nav > a {
  text-transform: uppercase;
  font-size: 1.4em;
}

.home-title {
  text-transform: uppercase;
  font-size: 2em;
}

/*form, input {
  text-align: center;
}*/

form > div {
  text-align: center;
}
div.form {
  border: dotted 1px black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 80%;
}

input {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

a:active {
  color: #AA3E98;
}

a:visited {
  color: #AA3E98;
}

a {
  color: rgb(52, 51, 51);
}

div.main-nav > a:visited {
  color: white;
}
